<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.gajimarket.dao.CategoryDAO">

    <!-- 카테고리 전체 정보 보기 -->
    <select id="categoryInfo" resultType="java.util.LinkedHashMap">
        select tier, cateName, cateCode,
        case when cateParent is null then 'null' else cateParent end as 'cateParent'
        from category;
    </select>

    <!-- 카테고리 정보 찾기 -->
    <select id="findCategoryInfo" parameterType="String" resultType="java.util.LinkedHashMap">
        select tier, cateName, cateCode,
               case when cateParent is null then 'null' else cateParent end as 'cateParent'
        from category
        where cateCode=#{cateCode};
    </select>
    
    <select id="findCateParent" parameterType="String" resultType="String">
        select cateParent from category where cateCode=#{cateCode};
    </select>

    <select id="findCateCode" resultType="String" parameterType="String">
        select cateCode from category where cateParent=#{cateParent};
    </select>

    <select id="findListCateCode" parameterType="list" resultType="String">
        select cateCode from category where
        <foreach collection="cateCode" item="arr" separator="or">
            cateParent=#{arr}
        </foreach>
    </select>


</mapper>