<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.gajimarket.dao.ChatDAO">

    <insert id="insertChatRoom" parameterType="ChatRoomDTO" useGeneratedKeys="true" keyProperty="chatNo">
        INSERT INTO chat_info (
            userNo,
            prodNo,
            tgUserNo
        )
        VALUES (
            #{userNo},
            #{prodNo},
            #{tgUserNo}
        )
    </insert>

    <insert id="insertChatMessage" parameterType="java.util.Map">
        INSERT INTO chat_message (
            chatNo,
            message,
            userNo,
            regDate,
            regTime
        )
        VALUES (
            #{chatNo},
            #{message},
            #{userNo},
            DATE_FORMAT(now(), '%Y-%m-%d'),
            DATE_FORMAT(now(), '%H:%i:%s')
        )
    </insert>

    <select id="selectChatRoom" parameterType="int" resultType="ChatRoomDTO">
        SELECT *
          FROM chat_info
         WHERE chatNo = #{chatNo}
    </select>

    <select id="selectChatMessage" parameterType="int" resultType="java.util.List">
        SELECT CASE WHEN delYn = 'Y' THEN '삭제된 메시지' ELSE message END AS message,
               checkYn,
               userNo,
               DATE_FORMAT(regDate, '%Y년 %m월 %d일'),
               DATE_FORMAT(regTime, '%p %h:%i')
          FROM chat_message
         WHERE chatNo = #{chatNo}
         ORDER BY regDate DESC, regTime DESC
    </select>

    <!-- 채팅리스트, 확인하지 않은 내역 존재하는지 확인 (checkYn Count 확인) -->
    <select id="selectChatRoomList" parameterType="java.util.Map" resultType="java.util.List">
        SELECT T.*
          FROM (
                SELECT c.*, ui.nickname
                  FROM ( SELECT ci.chatNo,
                                cm.message,
                                cm.regDate,
                                cm.regTime,
                                CASE WHEN ci.userNo = #{userNo} THEN ci.tgUserNo ELSE ci.userNo END AS userNo
                           FROM chat_info ci LEFT JOIN ( SELECT chatNo,
                                                                CASE WHEN delYn='N' THEN message ELSE '삭제된 메시지' END AS message,
                                                                regDate,
                                                                regTime
                                                           FROM chat_message
                                                          WHERE (chatNo, CONCAT(regDate, regTime))
                                                                IN ( SELECT chatNo,
                                                                            MAX(CONCAT(regDate,regTime))
                                                                       FROM chat_message
                                                                      GROUP BY chatNo
                                                                )
                                                        ) cm ON ci.chatNo = cm.chatNo
                          WHERE ci.userNo = #{userNo} OR ci.tgUserNo = #{userNo}
                        ) c JOIN user_info ui ON c.userNo = ui.no
                ) T
         ORDER BY regDate DESC, regTime DESC
         LIMIT #{currentPage}, #{recordPage}
    </select>

    <update id="updateChatMessageCheck" parameterType="java.util.Map">
        UPDATE chat_info
           SET checkYn='Y'
         WHERE chatNo = #{chatNo}
           AND userNo <![CDATA[<>]]> #{userNo}
    </update>
</mapper>