<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.gajimarket.dao.ChatDAO">

    <insert id="insertChatRoom" parameterMap="ChatRoomDTO" useGeneratedKeys="true" keyProperty="chatNo">
        INSERT INTO chat_info
        VALUES (${user.userNo}, ${prod.prodNo}, ${prod.tgUserNo})
    </insert>

    <insert id="insertChatMessage" parameterMap="java.util.Map">
        INSERT INTO chat_message
        VALUES (${chatNo}, ${chatMessage})
    </insert>

    <select id="selectChatRoom" parameterType="int" resultType="ChatRoomDTO">
        SELECT *
          FROM chat_info
    </select>

    <select id="selectChatMessage" parameterType="int" resultMap="java.util.Map">
        SELECT *
          FROM chat_message
         ORDER BY regDt, regTime
    </select>

    <select id="selectChatRoomList" resultMap="java.util.List">
        SELECT *
          FROM chat_info
    </select>

</mapper>