<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.gajimarket.dao.FileDAO">

    <!-- DB파일 이름 찾기 -->
    <select id="findFileInfo" parameterType="int" resultType="map">
        select fileOrder,dbFileName
        from file
        where no=#{prodNo} and gubun='2';
    </select>

    <!-- 파일 저장 -->
    <insert id="productFileSave">
        insert into file (no,gubun,fileOrder,uploadFileName,dbFileName) values (#{param3},'2',#{param4},#{param1},#{param2})
    </insert>

    <!-- 상품번호로 저장된 이미지 파일 찾기 -->
    <select id="productFindDBFile" parameterType="int" resultType="String">
        select dbFileName from file where no=#{prodNo} and gubun='2';
    </select>

    <!-- DB 이미지파일 삭제 -->
    <delete id="productFileDelete" parameterType="int">
        delete from file where no=#{param1} and gubun='2';
    </delete>

    <!-- 상세보기 파일가져오기 -->
    <select id="findDetailFile" resultType="String">
        select dbFileName from file where no=#{userNo} and gubun='1';
    </select>

    <!-- 사용자 이미지 저장 -->
    <insert id="userFileSave" parameterType="java.util.Map">
        INSERT INTO file
             ( no
             , gubun
             , uploadFileName
             , dbFileName
             )
        VALUES
             ( #{userNo}
             , '1'
             , #{uploadFileName}
             , #{dbFileName}
             )
    </insert>

    <!-- 사용자 이미지 조회 -->
    <select id="selectUserImg" parameterType="project.gajimarket.model.UserDTO" resultType="java.util.Map">
        SELECT uploadFileName
             , dbFileName
          FROM file
         WHERE no = #{userNo}
           AND gubun = '1'
    </select>

    <!-- 사용자 이미지 삭제 -->
    <delete id="deleteUserImg" parameterType="project.gajimarket.model.UserDTO">
        DELETE FROM file WHERE no = #{userNo} AND gubun = '1'
    </delete>
</mapper>