<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.gajimarket.dao.HashTagDAO">

    <!-- 해시태그 저장 -->
    <insert id="productHashTagSave">
        insert into hash_tag (prodNo,tagName) values (#{param1},#{param2});
    </insert>

    <!-- 해시태그 삭제 -->
    <delete id="productHashTagDelete" parameterType="int">
        delete from hash_tag where prodNo=#{param1};
    </delete>

    <!-- 해시태그 정보 찾기 -->
    <select id="findHashTag" parameterType="int" resultType="map">
        select tagName from hash_tag where prodNo=#{prodNo};
    </select>
</mapper>