<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.gajimarket.dao.ProductDAO">

    <!-- 팔래요 상품 등록 -->
    <insert id="productSellSave" parameterType="project.gajimarket.model.ProductDTO" useGeneratedKeys="true" keyProperty="prodNo">
        insert into product_info (prodNo,userNo,categoryNo,prodName,prodPrice,
        priceOffer,freeCheck,prodExplain,regDt,modDt,delYn,
        reportCnt,tradState,viewCnt,tradeKind,buyUserNo,offerPriceNo,address)
        values (#{prodNo},#{userNo},#{categoryNo},#{prodName},#{prodPrice},#{priceOffer},#{freeCheck},
        #{prodExplain},now(),null,default,default,'0',0,'0',null,null,#{address});
    </insert>

    <!-- 팔래요,살래요 상품 등록할때 회원 주소 가져오기 -->
    <select id="findUserAddress" parameterType="int" resultType="String">
        select address from user_info where no = #{userNo}
    </select>

    <!-- 살래요 상품 등록 -->
    <insert id="productBuySave" parameterType="project.gajimarket.model.ProductDTO" useGeneratedKeys="true" keyProperty="prodNo">
        insert into product_info (prodNo,userNo,categoryNo,prodName,prodPrice,
        priceOffer,freeCheck,prodExplain,regDt,modDt,delYn,
        reportCnt,tradState,viewCnt,tradeKind,buyUserNo,offerPriceNo,address)
        values (#{prodNo},#{userNo},#{categoryNo},#{prodName},#{prodPrice},#{priceOffer},#{freeCheck},
        #{prodExplain},now(),null,default,default,'1',0,'1',null,null,#{address});
    </insert>

    <!-- 팔래요,살래요 상품 삭제 -->
    <update id="productDelete" parameterType="int">
        update product_info set delYn = 'Y' where prodNo = #{param};
    </update>

    <!-- 해시태그 저장 -->
    <insert id="productHashTagSave">
        insert into hash_tag (prodNo,tagName) values (#{param1},#{param2});
    </insert>

    <!-- 파일 저장 -->
    <insert id="productFileSave">
        insert into file (no,gubun,fileOrder,uploadFileName,dbFileName) values (#{param3},'2',#{param4},#{param1},#{param2})
    </insert>

    <!-- 상품 수정 -->
    <update id="productUpdate">
        update product_info set categoryNo=#{dto.categoryNo},prodName=#{dto.prodName}, prodPrice=#{dto.prodPrice}, priceOffer=#{dto.priceOffer}, freeCheck=#{dto.freeCheck}, prodExplain=#{dto.prodExplain},tradState=#{dto.tradState}, modDt=now(),address=#{dto.address} where prodNo=#{param1};
    </update>

    <!-- 상품번호로 저장된 이미지 파일 찾기 -->
    <select id="productFindDBFile" parameterType="int" resultType="String">
        select dbFileName from file where no=#{prodNo} and gubun='2';
    </select>

    <!-- DB 이미지파일 삭제 -->
    <delete id="productFileDelete" parameterType="int">
        delete from file where no=#{param1} and gubun='2';
    </delete>

    <!-- 카테고리 번호 찾기 -->
    <select id="findCategoryNo" resultType="int">
        select categoryNo from category_info where LargeCateNo=#{param1} and MediumCateNo=#{param2} and SmallCateNo=#{param3};
    </select>

    <!-- 해시태그 삭제 -->
    <delete id="productHashTagDelete" parameterType="int">
        delete from hash_tag where prodNo=#{param1};
    </delete>

    <!-- 상품 정보 찾기 -->
    <select id="findProductInfo" parameterType="int" resultType="map">
        select prodName,prodPrice,priceOffer,freeCheck,prodExplain
        from product_info
        where prodNo=#{prodNo};
    </select>

    <!-- 카테고리 정보 찾기 -->
    <select id="findCategoryInfo" parameterType="int" resultType="map">
        select largeCateNo,largeCateName,mediumCateNo,mediumCateName,smallCateNo,smallCateName
        from category_info
        where categoryNo=#{categoryNo};
    </select>

    <!-- 해시태그 정보 찾기 -->
    <select id="findHashTag" parameterType="int" resultType="map">
        select tagName from hash_tag where prodNo=#{prodNo};
    </select>

    <!-- DB파일 이름 찾기 -->
    <select id="findFileInfo" parameterType="int" resultType="map">
        select fileOrder,dbFileName
        from file
        where no=#{prodNo} and gubun='2';
    </select>

    <!-- 좋아요 저장 -->
    <insert id="interestSave" useGeneratedKeys="true" keyProperty="interestNo" parameterType="project.gajimarket.model.InterestInfoDTO">
        insert into interest_info (interestNo,prodNo,userNo) values (#{interestNo},#{prodNo},#{userNo});
    </insert>

    <!-- 좋아요 삭제 -->
    <delete id="interestDelete">
        delete from interest_info where prodNo=#{prodNo} and userNo=#{userNo};
    </delete>

    <!-- 좋아요 찾기 -->
    <select id="findInterest" resultType="project.gajimarket.model.InterestInfoDTO">
        select * from interest_info where prodNo=#{prodNo} and userNo=#{userNo};
    </select>

    <!-- 신고 횟수 증가 -->
    <update id="reportCountUp" parameterType="int">
        update product_info set reportCnt = reportCnt + 1 where prodNo=#{prodNo};
    </update>

    <!-- 별점 정보 저장 -->
    <insert id="productScoreSave" parameterType="project.gajimarket.model.ScoreInfoDTO">
        insert into score_info (userNo,prodNo,score1,tag1,score2,tag2,score3,tag3,tradeReview)
        values (#{userNo},#{prodNo},#{score1},#{tag1},#{score2},#{tag2},#{score3},#{tag3},#{tradeReview});
    </insert>

    <!-- 상품 번호로 회원번호 찾기 -->
    <select id="findUserNo" parameterType="int" resultType="int">
        select userNo from product_info where prodNo = #{prodNo};
    </select>

    <!-- 세션 값으로 회원번호 찾기 -->
    <select id="findSessionUser" resultType="int">
        select no from user_info where id=#{param1};
    </select>

    <!-- 상품 가격 가져오기 -->
    <select id="findProductPrice" resultType="int">
        select prodPrice from product_info where prodNo=#{prodNo};
    </select>

    <!-- 상품 경매 update -->
    <update id="priceOfferUpdate">
        update product_info set prodPrice=#{offerPrice}, offerPriceNo=#{findUserNo} where prodNo=#{prodNo};
    </update>

    <!-- 조회수 증가 -->
    <update id="viewCntUpdate" parameterType="int">
        update product_info set viewCnt = viewCnt + 1 where prodNo=#{prodNo};
    </update>

    <!-- 좋아요 갯수 가져오기 -->
    <select id="findInterestCnt" parameterType="int" resultType="map">
        select count(*) as 'interestCnt' from interest_info where prodNo=#{prodNo};
    </select>

    <select id="findProductInfoDetail" resultType="map" parameterType="int">
        select prodName,prodPrice,priceOffer,freeCheck,prodExplain,regDt,tradState,viewCnt,address
        from product_info
        where prodNo=#{prodNo};
    </select>

    <!-- 거래구분 찾아오기 -->
    <select id="findTradeState" resultType="String" parameterType="int">
        select tradeKind from product_info where prodNo=#{prodNo};
    </select>
    
    <!-- 상품번호로 카테고리번호 찾기 -->
    <select id="findProdNoByCategoryNo" parameterType="int" resultType="int">
        select categoryNo from product_info where prodNo=#{prodNo};
    </select>

    <!-- 팔래요 최신순 전체보기 -->
    <select id="findSellAll" resultType="map">
        select p.prodNo,p.prodName,p.prodPrice,p.address,p.tradState,count(i.prodNo) as 'interestCnt',f.dbFileName
        from product_info p
                 left join interest_info i
                           on p.prodNo = i.prodNo
                 left join file f
                           on p.prodNo = f.no
                 left join hash_tag h
                           on p.prodNo = h.prodNo
                 left join category_info c
                           on p.categoryNo = c.categoryNo
        <where>
            <if test="search != null">
                and (p.prodName like concat('%',#{search},'%') or p.address like concat('%',#{search},'%') or h.tagName like concat('%',#{search},'%'))
                                  and p.delYn='N' and p.tradeKind='0' and f.fileOrder='0' and (p.tradState='0' or p.tradState='2') and f.gubun='2'
            </if>
            <if test="category != null">
                and p.delYn='N' and p.tradeKind='0' and f.fileOrder='0' and (p.tradState='0' or p.tradState='2') and f.gubun='2'
                                  and p.categoryNo=#{category}
            </if>
            <if test="largeCateNo != null">
                and p.delYn='N' and p.tradeKind='0' and f.fileOrder='0' and (p.tradState='0' or p.tradState='2') and f.gubun='2'
                                  and c.LargeCateNo=#{largeCateNo}
            </if>
            <if test="largeCateNo != null and mediumCateNo != null">
                and p.delYn='N' and p.tradeKind='0' and f.fileOrder='0' and (p.tradState='0' or p.tradState='2') and f.gubun='2'
                                  and c.LargeCateNo=#{largeCateNo} and c.MediumCateNo=#{mediumCateNo}
            </if>
            <if test="largeCateNo != null and mediumCateNo != null and smallCateNo != null">
                and p.delYn='N' and p.tradeKind='0' and f.fileOrder='0' and (p.tradState='0' or p.tradState='2') and f.gubun='2'
                                  and c.LargeCateNo=#{largeCateNo} and c.MediumCateNo=#{mediumCateNo} and c.SmallCateNo=#{smallCateNo}
            </if>
            and p.delYn='N' and p.tradeKind='0' and f.fileOrder='0' and (p.tradState='0' or p.tradState='2') and f.gubun='2'
        </where>
        group by p.prodNo,p.prodName,p.prodPrice,p.address,p.tradState,f.dbFileName
        <if test="sort != null">
                <if test="sort.equals('priceHigh')">
                    order by p.prodPrice desc;
                </if>
                <if test="sort.equals('priceLow')">
                    order by p.prodPrice asc;
                </if>
                <if test="sort.equals('interestHigh')">
                    order by count(i.prodNo) desc;
                </if>
                <if test="sort.equals('viewCntHigh')">
                    order by p.viewCnt desc;
                </if>
                <if test="sort.equals('prodNameAsc')">
                    order by p.prodName asc;
                </if>
        </if>
                <if test="sort == null">
                    order by p.regDt desc;
                </if>
    </select>

    <!-- 살래요 최신순 전체보기 -->
    <select id="findBuyAll" resultType="map">
        select p.prodNo,p.prodName,p.prodPrice,p.address,p.tradState,count(i.prodNo) as 'interest',f.dbFileName
        from product_info p
                 left join interest_info i
                           on p.prodNo = i.prodNo
                 left join file f
                           on p.prodNo = f.no
                 left join hash_tag h
                           on p.prodNo = h.prodNo
                 left join category_info c
                 on p.categoryNo = c.categoryNo
        <where>
            <if test="search !=null">
                and (p.prodName like concat('%',#{search},'%') or p.address like concat('%',#{search},'%') or h.tagName like concat('%',#{search},'%'))
                                and p.delYn='N' and p.tradeKind='1' and f.fileOrder='0' and (p.tradState='1' or p.tradState='2') and f.gubun='2'
            </if>
            <if test="category != null">
                and p.delYn='N' and p.tradeKind='1' and f.fileOrder='0' and (p.tradState='1' or p.tradState='2') and f.gubun='2'
                        and categoryNo=#{category}
            </if>
            <if test="largeCateNo != null">
                and p.delYn='N' and p.tradeKind='1' and f.fileOrder='0' and (p.tradState='1' or p.tradState='2') and f.gubun='2'
                and c.LargeCateNo=#{largeCateNo}
            </if>
            <if test="largeCateNo != null and mediumCateNo != null">
                and p.delYn='N' and p.tradeKind='1' and f.fileOrder='0' and (p.tradState='1' or p.tradState='2') and f.gubun='2'
                and c.LargeCateNo=#{largeCateNo} and c.MediumCateNo=#{mediumCateNo}
            </if>
            <if test="largeCateNo != null and mediumCateNo != null and smallCateNo != null">
                and p.delYn='N' and p.tradeKind='1' and f.fileOrder='0' and (p.tradState='1' or p.tradState='2') and f.gubun='2'
                and c.LargeCateNo=#{largeCateNo} and c.MediumCateNo=#{mediumCateNo} and c.SmallCateNo=#{smallCateNo}
            </if>
            and p.delYn='N' and p.tradeKind='1' and f.fileOrder='0' and (p.tradState='1' or p.tradState='2') and f.gubun='2'
        </where>
        group by p.prodNo,p.prodName,p.prodPrice,p.address,p.tradState,f.dbFileName
        <if test="sort != null">
                <if test="sort.equals('priceHigh')">
                    order by p.prodPrice desc;
                </if>
                <if test="sort.equals('priceLow')">
                    order by p.prodPrice asc;
                </if>
                <if test="sort.equals('interestHigh')">
                    order by count(i.prodNo) desc;
                </if>
                <if test="sort.equals('viewCntHigh')">
                    order by p.viewCnt desc;
                </if>
                <if test="sort.equals('prodNameAsc')">
                    order by p.prodName asc;
                </if>
        </if>
                <if test="sort == null">
                    order by p.regDt desc;
                </if>
    </select>

    <!-- 카테고리 전체 정보 보기 -->
    <select id="categoryInfo" resultType="map">
        select * from category_info;
    </select>
    
    <select id="findUserInfo" resultType="map" parameterType="int">
        select nickname,address,dbFileName
        from user_info u
                 inner join file f
                            on u.no = f.no
        where f.gubun='1' and u.no=#{userNo};
    </select>
</mapper>