<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.gajimarket.dao.ProductDAO">

    <!-- 팔래요 상품 등록 -->
    <insert id="productSellSave" parameterType="project.gajimarket.model.ProductDTO" useGeneratedKeys="true" keyProperty="prodNo">
        insert into product_info (prodNo,userNo,categoryNo,prodName,prodPrice,
        priceOffer,freeCheck,prodExplain,regDt,modDt,delYn,
        reportCnt,tradState,viewCnt,tradeKind,buyUserNo,offerPriceNo,address)
        values (#{prodNo},#{userNo},#{categoryNo},#{prodName},#{prodPrice},#{priceOffer},#{freeCheck},
        #{prodExplain},now(),null,default,default,'0',0,'0',null,null,#{address});
    </insert>

    <!-- 팔래요,살래요 상품 등록할때 회원 주소 가져오기 -->
    <select id="findUserAddress" parameterType="int" resultType="String">
        select address from user_info where no = #{a}
    </select>

    <!-- 살래요 상품 등록 -->
    <insert id="productBuySave" parameterType="project.gajimarket.model.ProductDTO" useGeneratedKeys="true" keyProperty="prodNo">
        insert into product_info (prodNo,userNo,categoryNo,prodName,prodPrice,
        priceOffer,freeCheck,prodExplain,regDt,modDt,delYn,
        reportCnt,tradState,viewCnt,tradeKind,buyUserNo,offerPriceNo,address)
        values (#{prodNo},#{userNo},#{categoryNo},#{prodName},#{prodPrice},#{priceOffer},#{freeCheck},
        #{prodExplain},now(),null,default,default,'1',0,'1',null,null,#{address});
    </insert>

    <!-- 팔래요,살래요 상품 삭제 -->
    <update id="productDelete" parameterType="int">
        update product_info set delYn = 'Y' where prodNo = #{param};
    </update>

    <!-- 해시태그 저장 -->
    <insert id="productHashTagSave">
        insert into hash_tag (prodNo,tagName) values (#{param1},#{param2});
    </insert>

    <!-- 파일 저장 -->
    <insert id="productFileSave">
        insert into file (no,gubun,fileOrder,uploadFileName,dbFileName) values (#{param3},'2',#{param4},#{param1},#{param2})
    </insert>

    <!-- 상품 수정 -->
    <update id="productUpdate">
        update product_info set categoryNo=#{dto.categoryNo},prodName=#{dto.prodName}, prodPrice=#{dto.prodPrice}, priceOffer=#{dto.priceOffer}, freeCheck=#{dto.freeCheck}, prodExplain=#{dto.prodExplain},tradState=#{dto.tradState}, modDt=now(),address=#{dto.address} where prodNo=#{param1};
    </update>

    <!-- 상품번호로 저장된 이미지 파일 찾기 -->
    <select id="productFindDBFile" parameterType="int" resultType="String">
        select dbFileName from file where no=#{param1};
    </select>

    <!-- DB 이미지파일 삭제 -->
    <delete id="productFileDelete" parameterType="int">
        delete from file where no=#{param1};
    </delete>

    <!-- 카테고리 번호 찾기 -->
    <select id="findCategoryNo" resultType="int">
        select categoryNo from category_info where LargeCateNo=#{param1} and MediumCateNo=#{param2} and SmallCateNo=#{param3};
    </select>

    <!-- 해시태그 삭제 -->
    <delete id="productHashTagDelete" parameterType="int">
        delete from hash_tag where prodNo=#{param1};
    </delete>

    <!-- 상품 정보 찾기 -->
    <select id="findProductInfo" parameterType="int" resultType="project.gajimarket.model.ProductDTO">
        select categoryNo,prodName,prodPrice,priceOffer,freeCheck,prodExplain
        from product_info
        where prodNo=#{param1};
    </select>

    <!-- 카테고리 정보 찾기 -->
    <select id="findCategoryInfo" parameterType="int" resultType="project.gajimarket.model.CategoryDTO">
        select * from category_info where categoryNo=#{param1};
    </select>

    <!-- 해시태그 정보 찾기 -->
    <select id="findHashTag" parameterType="int" resultType="String">
        select tagName from hash_tag where prodNo=#{param1};
    </select>

    <!-- DB파일 이름 찾기 -->
    <select id="findFileInfo" parameterType="int" resultType="String">
        select dbFileName
        from file where no=#{param1};
    </select>

    <!-- 좋아요 저장 -->
    <insert id="interestSave" useGeneratedKeys="true" keyProperty="interestNo" parameterType="project.gajimarket.model.InterestInfoDTO">
        insert into interest_info (interestNo,prodNo,userNo) values (#{interestNo},#{prodNo},#{userNo});
    </insert>

    <!-- 좋아요 삭제 -->
    <delete id="interestDelete">
        delete from interest_info where prodNo=#{prodNo} and userNo=#{userNo};
    </delete>

    <!-- 좋아요 찾기 -->
    <select id="findInterest" resultType="project.gajimarket.model.InterestInfoDTO">
        select * from interest_info where prodNo=#{prodNo} and userNo=#{userNo};
    </select>
</mapper>