<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.gajimarket.dao.UserDAO">

    <sql id="userCondition">
        <where>
            1 = 1
            <if test='userId != null and userId != "" and userPwd != null and userPwd != ""'>
                AND id = #{userId}
                AND pwd = #{userPwd}
            </if>

            <if test='userNo != null and userNo != ""'>
                AND user_info.no = #{userNo}
            </if>
        </where>
    </sql>

    <sql id="userInterestProdList">
        SELECT ii.interestNo
             , prod_info.prodNo 		-- 상품번호
             , prod_info.prodName 		-- 상품명
             , prod_info.prodPrice 		-- 가격
             , prod_info.reportCnt 		-- 신고횟수
             , prod_info.tradState 		-- 상태값
             , CASE
          WHEN prod_info.tradState = 0 THEN '판매중'
          WHEN prod_info.tradState = 1 THEN '사는중'
          WHEN prod_info.tradState = 2 THEN '거래중'
          WHEN prod_info.tradState = 3 THEN '거래완료'
           END AS tradeStateResult
             , prod_info.viewCnt		-- 조회수
             , prod_info.tradeKind 		-- 거래구분
             , IF(tradeKind = 0, '팔래요', '살래요') AS tradeKindResult
             , prod_info.address 		-- 주소
             , (
                SELECT COUNT(interestNo)
                  FROM interest_info inst_info
                 WHERE inst_info.prodNo = prod_info.prodNo
               ) AS likeCnt				-- 좋아요 갯수
             , f.uploadFileName
             , f.dbFileName
          FROM
             (
                SELECT *
                  FROM interest_info ii
                  JOIN
                     ( SELECT *
                         FROM user_info
                        WHERE no = #{userNo}
                     ) ui
                    ON ui.no = ii.userNo
             ) ii
          JOIN ( SELECT *  FROM file f WHERE gubun = 2 AND fileOrder = 0 ) f
            ON f.no = ii.prodNo
          JOIN product_info prod_info
            ON prod_info.prodNo = ii.prodNo
         WHERE prod_info.delYn != 'Y'
      ORDER BY ii.interestNo DESC
    </sql>

    <sql id="userSellProdList">
        SELECT prodNo
             , prodName
             , prodPrice
             , reportCnt
             , tradState
             , CASE
          WHEN tradState = 0 THEN '판매중'
          WHEN tradState = 1 THEN '사는중'
          WHEN tradState = 2 THEN '거래중'
          WHEN tradState = 3 THEN '거래완료'
           END AS tradeStateResult
             , viewCnt
             , tradeKind
             , IF(tradeKind = 0, '팔래요', '살래요') AS tradeKindResult
             , address
             , (
                SELECT COUNT(interestNo)
                FROM interest_info inter_info
                WHERE inter_info.prodNo = prod_info.prodNo
               ) AS likeCnt
             , f.uploadFileName
             , f.dbFileName
          FROM product_info prod_info
     LEFT JOIN file f
            ON f.no = prod_info.prodNo
           AND f.gubun = 2
           AND f.fileOrder = 0
         WHERE prod_info.delYn != 'Y'
           AND prod_info.tradState = 3
           AND prod_info.tradeKind = 0
           AND prod_info.userNo = #{userNo}
      ORDER BY prod_info.prodNo DESC
    </sql>

    <sql id="userBuyProdList">
        SELECT prodNo
             , prodName
             , prodPrice
             , reportCnt
             , tradState
             , CASE
          WHEN tradState = 0 THEN '판매중'
          WHEN tradState = 1 THEN '사는중'
          WHEN tradState = 2 THEN '거래중'
          WHEN tradState = 3 THEN '거래완료'
           END AS tradeStateResult
             , viewCnt
             , tradeKind
             , IF(tradeKind = 0, '팔래요', '살래요') AS tradeKindResult
             , address
             , (
                SELECT COUNT(interestNo)
                FROM interest_info inter_info
                WHERE inter_info.prodNo = prod_info.prodNo
               ) AS likeCnt
             , f.uploadFileName
             , f.dbFileName
          FROM product_info prod_info
     LEFT JOIN file f
            ON f.no = prod_info.prodNo
           AND f.gubun = 2
           AND f.fileOrder = 0
         WHERE prod_info.delYn != 'Y'
           AND prod_info.tradState = 3
           AND prod_info.tradeKind = 1
           AND prod_info.buyUserNo = #{userNo}
      ORDER BY prod_info.prodNo DESC
    </sql>

    <!-- 아이디 중복 확인 -->
    <select id="checkUserId" parameterType="String" resultType="int">
        SELECT COUNT(no) AS userCnt
          FROM user_info
         WHERE id = #{userId}
    </select>

    <!-- 회원가입 -->
    <insert id="insertUser" parameterType="project.gajimarket.model.UserDTO">
        INSERT
        INTO user_info
        ( id
        , pwd
        , name
        , nickname
        , gender
        , birth
        , phone
        , address
        , profileImg
        , socialKind
        )
        VALUES
            ( #{userId}
            , #{userPwd}
            , #{userName}
            , #{userNickName}
            , #{userGender}
            , #{userBirth}
            , #{userPhone}
            , #{userAddress}
            , #{profileImgNum}
            , #{socialKind}
        )
    </insert>

    <!-- 회원조회 -->
    <select id="selectUser" parameterType="java.util.HashMap" resultType="project.gajimarket.model.UserDTO">
        SELECT user_info.no AS userNo
            , id AS userId
            , pwd AS userPwd
            , name AS userName
            , nickname AS userNickName
            , gender AS userGender
            , birth AS userBirth
            , phone AS userPhone
            , address AS userAddress
            , reportCnt
            , starScore
            , socialKind
            , chatNtfct
            , cmntsNtfct
            , interstNtfct
            , outYn
            , IFNULL(f.dbFileName, '') AS dbFileName
            , IFNULL(f.uploadFileName, '') AS uploadFileName
        FROM user_info
   LEFT JOIN
           (
             SELECT *
               FROM file
              WHERE gubun = 1
           ) f
          ON f.no = user_info.no
        <include refid="userCondition"/>
    </select>

    <select id="selectUserId" parameterType="project.gajimarket.model.UserDTO" resultType="project.gajimarket.model.UserDTO">
        SELECT id AS userId
          FROM user_info
         WHERE name = #{userName} AND birth = #{userBirth}
    </select>

    <select id="selectUserPwd" parameterType="project.gajimarket.model.UserDTO" resultType="project.gajimarket.model.UserDTO">
        SELECT pwd AS userPwd
          FROM user_info
         WHERE id = #{userId} AND name = #{userName} AND birth = #{userBirth}
    </select>

    <update id="updatePwd" parameterType="project.gajimarket.model.UserDTO">
        UPDATE user_info SET pwd = #{userPwd} WHERE id = #{userId}
    </update>

    <!-- 좋아요 한 상품 -->
    <select id="selectUserInterestProd" parameterType="java.util.Map" resultType="java.util.Map">
        <include refid="userInterestProdList"/>

        <if test="schPage != null">
            LIMIT #{schPage.limitPage}, #{schPage.recordCount}
        </if>
    </select>

    <select id="selectUserInterestProdCnt" parameterType="java.util.Map" resultType="int">
        SELECT COUNT(prodNo)
          FROM
            (
                <include refid="userInterestProdList"/>
            ) A
    </select>

    <!-- 판매내역 -->
    <select id="selectUserSellProd" parameterType="java.util.Map" resultType="java.util.Map">

        <include refid="userSellProdList"/>

        <if test="schPage != null">
            LIMIT #{schPage.limitPage}, #{schPage.recordCount}
        </if>
    </select>

    <select id="selectUserSellProdCnt" parameterType="java.util.Map" resultType="int">
        SELECT COUNT(prodNo)
          FROM
             (
                <include refid="userSellProdList"/>
             ) A
    </select>

    <!-- 구매내역 -->
    <select id="selectUserBuyProd" parameterType="java.util.Map" resultType="java.util.Map">
        <include refid="userBuyProdList"/>

        <if test="schPage != null">
            LIMIT #{schPage.limitPage}, #{schPage.recordCount}
        </if>
    </select>

    <select id="selectUserBuyProdCnt" parameterType="java.util.Map" resultType="int">
        SELECT COUNT(prodNo)
          FROM
             (
                <include refid="userBuyProdList"/>
             ) A
    </select>

    <!-- 회원정보 수정 -->
    <update id="updateUser" parameterType="project.gajimarket.model.UserDTO">
        UPDATE user_info
        <set>
            <if test='userPwd != null and userPwd != ""'>
                pwd = #{userPwd},
            </if>
            <if test='userNickName != null and userNickName != ""'>
                nickname = #{userNickName},
            </if>
            <if test='userAddress != null and userAddress != ""'>
                address = #{userAddress}
            </if>
        </set>
        WHERE no = #{userNo}
    </update>

    <!-- 알림 수정 -->
    <update id="updateNtfct" parameterType="project.gajimarket.model.UserDTO">
        UPDATE user_info
           <set>
               <if test='chatNtfct != null and chatNtfct != ""'>
                    chatNtfct = #{chatNtfct}
                </if>
               <if test='cmntsNtfct != null and cmntsNtfct != ""'>
                    cmntsNtfct = #{cmntsNtfct}
                </if>
               <if test='interstNtfct != null and interstNtfct != ""'>
                   interstNtfct = #{interstNtfct}
               </if>
           </set>
         WHERE no = #{userNo}
    </update>

    <!-- 회원탈퇴 -->
    <update id="updateOutUser" parameterType="int">
        UPDATE user_info
           SET outYn = 'Y'
         WHERE no = #{userNo}
    </update>
</mapper>
