<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.gajimarket.dao.UserDAO">

    <sql id="userCondition">
        <where>
            1 = 1
            <if test='userId != null and userId != "" and userPwd != null and userPwd != ""'>
                AND id = #{userId}
                AND pwd = #{userPwd}
            </if>

            <if test='userNo != null and userNo != ""'>
                AND no = #{userNo}
            </if>
        </where>
    </sql>

    <!-- 아이디 중복 확인 -->
    <select id="checkUserId" parameterType="String" resultType="int">
        SELECT COUNT(no) AS userCnt
          FROM user_info
         WHERE id = #{userId}
    </select>

    <!-- 회원가입 -->
    <insert id="insertUser" parameterType="project.gajimarket.model.UserDTO">
        INSERT
        INTO user_info
        ( id
        , pwd
        , name
        , nickname
        , gender
        , birth
        , phone
        , address
        , profileImg
        , socialKind
        )
        VALUES
            ( #{userId}
            , #{userPwd}
            , #{userName}
            , #{userNickName}
            , #{userGender}
            , #{userBirth}
            , #{userPhone}
            , #{userAddress}
            , #{profileImgNum}
            , #{socialKind}
        )
    </insert>

    <!-- 회원조회 -->
    <select id="selectUser" parameterType="java.util.HashMap" resultType="project.gajimarket.model.UserDTO">
        SELECT no AS userNo
            , id AS userId
            , pwd AS userPwd
            , name AS userName
            , nickname AS userNickName
            , gender AS userGender
            , birth AS userBirth
            , phone AS userPhone
            , address AS userAddress
            , reportCnt
            , profileImg AS profileImgNum
            , starScore
            , socialKind
            , chatNtfct
            , cmntsNtfct
            , interstNtfct
            , outYn
        FROM user_info
        <include refid="userCondition"/>
    </select>

    <!-- 좋아요 한 상품 -->
    <select id="selectUserInterestProd" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT prodNo               -- 상품번호
             , prodName             -- 상품명
             , prodPrice            -- 가격
             , reportCnt            -- 신고횟수
             , tradState            -- 상태값
             , CASE
                   WHEN tradState = 0 THEN '판매중'
                   WHEN tradState = 1 THEN '사는중'
                   WHEN tradState = 2 THEN '거래중'
                   WHEN tradState = 3 THEN '거래완료'
                END AS tradeStateResult
             , viewCnt              -- 조회수
             , tradeKind            -- 거래구분
             , IF(tradeKind = 0, '팔래요', '살래요') AS tradeKindResult
             , address              -- 주소
             , (
                    SELECT COUNT(interestNo)
                      FROM interest_info inst_info
                     WHERE inst_info.prodNo = prod_info.prodNo
                ) AS likeCnt        -- 좋아요 갯수
             , f.uploadFileName
             , f.dbFileName
          FROM product_info prod_info
     LEFT JOIN file f
            ON f.no = prod_info.prodNo
           AND f.gubun = 2
           AND f.fileOrder = 0
         WHERE delYn != 'Y'
		   AND prodNo IN
                (
                    SELECT prodNo
			 		  FROM interest_info inst_info
			 		 WHERE userNo IN
			 		    (
                        SELECT no
                          FROM user_info
                         WHERE id = #{userId}
                           AND pwd = #{userPwd}
                        )
                )
    </select>

    <!-- 판매내역 -->
    <select id="selectUserSellProd" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT prodNo
             , prodName
             , prodPrice
             , reportCnt
             , tradState
             , CASE
                   WHEN tradState = 0 THEN '판매중'
                   WHEN tradState = 1 THEN '사는중'
                   WHEN tradState = 2 THEN '거래중'
                   WHEN tradState = 3 THEN '거래완료'
            END AS tradeStateResult
             , viewCnt
             , tradeKind
             , IF(tradeKind = 0, '팔래요', '살래요') AS tradeKindResult
             , address
             , (
                    SELECT COUNT(interestNo)
                    FROM interest_info inter_info
                    WHERE inter_info.prodNo = prod_info.prodNo
                ) AS likeCnt
             , f.uploadFileName
             , f.dbFileName
        FROM product_info prod_info
                 LEFT JOIN file f
                           ON f.no = prod_info.prodNo
                               AND f.gubun = 2
                               AND f.fileOrder = 0
        WHERE prod_info.delYn != 'Y'
		 	   AND prod_info.tradState = 3
		 	   AND prod_info.tradeKind = 0
		 	   AND prod_info.userNo =
		 	   		(
		 	   		SELECT no
		 	   		  FROM user_info u_info
		 	   		 WHERE id = #{userId}
                       AND pwd = #{userPwd}
		 	   		)
    </select>

    <!-- 구매내역 -->
    <select id="selectUserBuyProd" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT prodNo
             , prodName
             , prodPrice
             , reportCnt
             , tradState
             , CASE
                   WHEN tradState = 0 THEN '판매중'
                   WHEN tradState = 1 THEN '사는중'
                   WHEN tradState = 2 THEN '거래중'
                   WHEN tradState = 3 THEN '거래완료'
            END AS tradeStateResult
             , viewCnt
             , tradeKind
             , IF(tradeKind = 0, '팔래요', '살래요') AS tradeKindResult
             , address
             , (
                    SELECT COUNT(interestNo)
                    FROM interest_info inter_info
                    WHERE inter_info.prodNo = prod_info.prodNo
                ) AS likeCnt
             , f.uploadFileName
             , f.dbFileName
        FROM product_info prod_info
                 LEFT JOIN file f
                           ON f.no = prod_info.prodNo
                               AND f.gubun = 2
                               AND f.fileOrder = 0
        WHERE prod_info.delYn != 'Y'
		 	   AND prod_info.tradState = 3
		 	   AND prod_info.tradeKind = 1
		 	   AND prod_info.buyUserNo =
		 	   		(
		 	   		SELECT no
		 	   		  FROM user_info u_info
		 	   		 WHERE id = #{userId}
		 	   		   AND pwd = #{userPwd}
		 	   		)
    </select>

    <!-- 회원정보 수정 -->
    <update id="updateUser" parameterType="project.gajimarket.model.UserDTO">
        UPDATE user_info
        SET pwd = #{userPwd}
          , nickname = #{userNickName}
          , address = #{userAddress}
        WHERE no = #{userNo}
    </update>

    <!-- 알림 수정 -->
    <update id="updateNtfct" parameterType="project.gajimarket.model.UserDTO">
        UPDATE user_info
           <set>
               <if test='chatNtfct != null and chatNtfct != ""'>
                    chatNtfct = #{chatNtfct}
                </if>
               <if test='cmntsNtfct != null and cmntsNtfct != ""'>
                    cmntsNtfct = #{cmntsNtfct}
                </if>
               <if test='interstNtfct != null and interstNtfct != ""'>
                   interstNtfct = #{interstNtfct}
               </if>
           </set>
         WHERE no = #{userNo}
    </update>

    <!-- 회원탈퇴 -->
    <update id="updateOutUser" parameterType="int">
        UPDATE user_info
           SET outYn = 'Y'
         WHERE no = #{userNo}
    </update>
</mapper>
