@import './global.scss';

// 캐러셀 슬라이드
.imgSlider {
  display: flex;
  margin-top: 15px;

  li {
    flex-grow: 1;
    // width: 100%;
    position: relative;
  }

  .imgPage {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px;
  }

  .deleteImgBtn {
    position: absolute;
    background-color: $PRIMARY;
    right: 0;
    top: 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: $WHITE;
    margin: 5px;
    cursor: pointer;
  }
}

.btnWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  margin-top: 10px;
}

.prevBtn,
.nextBtn {
  background-color: $SUB;
  border: none;
  width: 100%;
  margin: 0 auto;
  cursor: pointer;
  padding: 5px;
  color: $WHITE;
  border-radius: 5px;

  &:hover {
    background-color: #1e1e1e;
  }
}

// 해시태그
.hashTags {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  border: 2px solid $GRAY;
  border-radius: 10px;
  padding: 5px;
  gap: 5px;
  margin-top: 10px;
}

.hashTagInput {
  outline: none;
  border: none;
  font-size: 16px;
  padding: 5px;
  width: 100%;
}

.tag {
  display: inline-flex;
  flex-direction: row;
  background: #9747ffab;
  color: $WHITE;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;

  &::before {
    content: '#';
  }

  &:hover {
    background: #9747ffc9;
  }
}
