@import './global.scss';

.imgSlider {
  display: flex;
  margin-top: 15px;

  li {
    flex-grow: 1;
    // width: 100%;
    position: relative;
  }

  .imgPage {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px;
  }

  .deleteImgBtn {
    position: absolute;
    background-color: $PRIMARY;
    right: 0;
    top: 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: $WHITE;
    margin: 5px;
    cursor: pointer;
  }
}
